.img-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
  background: linear-gradient(
      0deg,
      rgba(114, 78, 211, 0.06) 0%,
      rgba(114, 78, 211, 0.06) 100%
    ),
    #fff;
  border-radius: 10px 10px 0 0;
}

.custom-img {
  width: 80%;
  height: auto;
  max-width: 19.75rem;
  margin: 0 auto;
}

#gradient-div1 {
  border-radius: 1.25rem;
  background: linear-gradient(
      180deg,
      rgba(114, 78, 211, 0.12) 0%,
      rgba(114, 78, 211, 0.12) 100%
    ),
    #fff;
}

.shadow-lg {
  display: flex;
  flex-direction: column;
}
